* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}

/* GRID GERAL */

body {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-areas: 
    'nav rightside'
    'nav main'
    'nav footer';
}
.right-side {
    display: grid;
    grid-area: rightside;
    height: 68px;
    grid-template-columns:  41% 7% 10%;
    grid-template-areas: 
    'info-header language google';
    justify-content: space-between;
}
.div-aside {
    grid-area: nav;
}
.container {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* ASIDE */

.div-aside header {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: var(--colorStandard);
    font-family: var(--fontFamily1);
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 13px 0px;
}
.div-aside {
    -webkit-box-shadow: 8px 0px 10px -8px #AAAA, 4px 4px 18px 4px rgba(170,170,170,0); 
    box-shadow: 4px 0px 13px -7px #AAAA, 5px 5px 20px 5px rgba(170,170,170,0);
    height: 100%;
    position: fixed;
    width: max-content;
}
.div-aside a {
    font-family: var(--fontFamily2);
    font-weight: 500;
    font-size: var(--fontSizeMedium);
    color: #725C5C;
    text-decoration: none;
}
.div-aside section {
    padding: 12px;
    cursor: pointer;
}
.div-aside nav div {
    border-bottom: 2px solid #E5E5E5;
}
label[for="bt_menu"]{
    padding: 5px;
    background-color: #fff;
    color: #222;
    font-family: "Arial";
    text-align: center;
    font-size: 29px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}
.div-aside input {
    display: none;
}

/* HEADER */

.header-main {
    background-color: var(--headersColors);
}
.info-header {
    font-family: var(--fontFamily1);
    margin-left: 6%;
    color: #725C5C;
    grid-area: info-header;
    width: 100%;
}
.info-header p {
    font-size: var(--fontSizeLittle);
    padding: 16px auto;
}
.p-infoHeader {
    font-family: var(--fontFamily1);
    font-size: 22px;
}
.language {
    grid-area: language;
    display: flex;
    align-items: center;
}
.language option[value="pt"], .language option[value="en"] {
    background-color: var(--headersColors);
}
.language select {
    background: var(--headersColors);
    border: 1px solid black;
    padding: 10px 22px;
    background-image: url(image/language.svg);
    background-repeat: no-repeat;
    background-position: 1px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.google {
    width: 70%;
    grid-area: google;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN */

.container-first {
    color: var(--buttonColors);
    font-family: var(--fontFamily1);
    font-weight: 900;
    font-size: var(--fontSizeBig);
    line-height: 25px;
    letter-spacing: 0.05em;
}
.container {
    margin: 0px 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 30% 11% 45% 15%;
    grid-template-areas: 
    'topContainer'
    'top'
    'summary'
    'discussions'
    'footer';
    width: 90%;
}
.top-container {
    grid-area: topContainer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cite-work {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 20px -45px;
}
.cite-work input {
    cursor: pointer;
    margin: 0px 5px;
    background-color: var(--buttonColors);
    border-radius: 4px;
    font-family: var(--fontFamily1);
    color: var(--colorStandard);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.cite-work div {
    margin: 5px 50px;
    font-family: var(--fontFamily1);
    font-size: var(--fontSizeMedium);
    text-align: right;
    color: var(--buttonColors);
    text-align: right;
}
.top {
    grid-area: top;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.summary {
    grid-area: summary;
}
.discussions {
    grid-area: discussions;
}

/* VIDEO */

.video img {
    width: 90%;
}

/* DETALHES */

.details h2 {
    font-family: var(--fontFamily1);
    font-weight: 500;
    font-size: var(--fontSizeBig);
    color: #4E4E4E;
    margin-left: 5%;
}
.details section {
    display: flex;
    background-color: var(--headersColors);
    height: 45px;
    width: 100%;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    align-items: center;
}
.details {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 15%;
    height: 439px;
    overflow-y: auto;
}
.details div {
    margin-left: 15px;
    margin-top: 13px;
    font-family: var(--fontFamily2);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #5C5C5C;
}
.details p, .details h4 {
    display: inline-block;
    margin-right: 2px;
    line-height: 154%;
}
.university {
    color:  #f2f2f2;
}

/* SUMMARY */

.summary {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    height: max-content;
    align-self: stretch;
    margin-top: 1%;
}
.summary section {
    display: flex;
    height: 45px;
    background-color: var(--headersColors);
    border-radius: 3px 3px 0px 0px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    align-items: center;
}
.summary section h2 {
    font-family: var(--fontFamily1);
    font-size: var(--fontSizeBig);
}
.summary p {
    font-family: var(--fontFamily2);
    margin: 20px;
    font-size: var(--fontSizeLittle);
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #5C5C5C;
}
.see-more {
    background-color: var(--colorStandard);
    cursor: pointer;
    font-size: var(--fontSizeLittle);
    color: var(--buttonColors);
    font-weight: 700;
    font-family: var(--fontFamily2);
}

/* DISCUSSIONS */

.discussions {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    height: max-content;
    margin-top: 2%;
}
.topics-container {
    height: 370px;
    overflow: auto;
}
.section-discussions {
    display: flex;
    background: var(--headersColors);
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    height: 45px;
    align-items: center;
}
.discussions h2 {
    font-family: var(--fontFamily1);
    font-size: var(--fontSizeBig);
}
.share-ideas {
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 1fr 1fr 1fr 25px;
    align-items: center;
    justify-content: center;
    margin: 0px 1%;
    border-bottom: 1px solid #E7E7E7;
}
.share-ideas h3 {
    font-family: var(--fontFamily1);
    color: var(--buttonColors);
    font-size: var(--varyFontSize);
    font-weight: bold;
    text-align: center;
}
.share-ideas p {
    font-family: var(--fontFamily2);
    color: #595959;
    text-align: center;
    margin-top: 40px;
}
.images-shareideas {
    display: flex;
    align-items: center;
    justify-content: center;
}
.images-shareideas img {
    margin: 0px 30px;
}
.createTopic-button {
    margin-bottom: -25px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    font-family: var(--fontFamily2);
    font-size: var(--fontSizeMedium);
    color: var(--colorStandard);
    width: 133px;
    font-weight: bold;
    height: 32px;
    justify-self: center;
    cursor: pointer;
}

/* CREATE TOPIC */

.hiddentopic {
    font-family: var(--fontFamily2);
    color: #595959;
    margin: 40px 1%;
    border-bottom: 1px solid #E7E7E7;
}
.hiddentopic p {
    text-align: center;
    margin: 25px 0px;
}
.hiddentopic h2 {
    font-size: 16px;
    font-family: var(--fontFamily1);
    color: var(--buttonColors);
}
.hiddentopic input {
    outline: none;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 35px;
    font-size: var(--fontSizeLittle);
}
textarea {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 113px;
    font-weight: 500;
}
#bold{
    background-image: url(image/bold.svg);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    background-color: #EAF1F2;
    border: none;
    background-position: center;
    margin-left: 30px;
    cursor: pointer;
}
#italic {
    background-image: url(image/italic.svg);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    background-color: #EAF1F2;
    border: none;
    margin-left: 30px;
    background-position: center;
    cursor: pointer;
}
.hiddentopic span {
    display: flex;
    height: 31px;
    background-color: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 20px;
}
.hiddentopic form {
    display: flex;
    width: 100%;
}
#sendCommit {
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    width: 25%;
    margin-left: auto;
    height: 31px;
    cursor: pointer;
    margin-left: 82%;
    color: var(--colorStandard);
    font-size: var(--fontSizeMedium);
    font-family: var(--fontFamily2);
}

/* CREATE TOPIC SUCESSES */

.create-sucesse {
    text-align: center;
    border-bottom: 1px solid #E7E7E7;
}
.create-sucesse h3{
    font-family: var(--fontFamily1);
    font-weight: bold;
    font-size: var(--varyFontSize);
    color: var(--buttonColors);
}
.create-sucesse p {
    font-family: var(--fontFamily2);
    font-size: var(--fontSizeLittle);
}
.create-sucesse a {
    font-family: var(--fontFamily1);
    font-size: var(--fontSizeLittle);
    color: #F48F44;
}
.create-sucesse input {
    cursor: pointer;
}
.divDaddy {
    background-color: #DDDDDD;
    display: block;
    margin: 17px 1%;
}
.divDaddy p {
    font-family: var(--fontFamily2);
    font-weight: bold;
    font-size: var(--fontSizeMedium);
    color: #707070;
}
.divDaddy a {
    font-family: Segoe UI; /* Não achei essa font, nem no google fonts */
    text-decoration-line: underline;
    font-size: var(--fontSizeLittle);
    color: var(--buttonColors);
}
.section-daddy {
    text-align: center;
}

/* QUESTIONS */

.question {
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 17px 1%;
}
.all-topics {
    margin-top: 50px;
}
.question h3 {
    color: var(--buttonColors);
    font-family: var(--fontFamily2);
    font-size: 16px;
    margin-left: 25px;
    margin-top: 17px;
}
.question p {
    font-size: 12px;
    font-family: var(--fontFamily2);
    color: #5C5C5C;
    margin-left: 25px;
}
.p-commit {
    font-family: var(--fontFamily2);
    font-size: var(--fontSizeLittle);
    color: #4D4D4D;
    margin-left: 25px;
}
.more-info {
    background-image: url(image/moreinfo.svg);
    width: 5px;
    height: 18px;
    background-color: var(--colorStandard);
    background-repeat: no-repeat;
    cursor: pointer;
}
.like {
    background-image: url(image/favorite.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: var(--buttonColors);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    height: 19px;
    width: 27px;
    background-position: center;
    margin: 0px 1%;
}
.question h6 {
    font-weight: 350;
    font-size: var(--fontSizeLittle);
    color: #757575;
    font-family: var(--fontFamily2);
    margin: 0px 1%;
}
.question div {
    display: flex;
    margin-left: 24px;
    margin-bottom: 18px;
    width: 90%;
}

/* FOOTER */

footer {
    display: grid;
    font-family: var(--fontFamily2);
    width: 95%;
    margin-left: 1%;
    grid-template-columns: 15% 80%;
    margin-bottom: 2%;
    align-items: center;
    border-top: 1px solid #b6b6b6;
}

footer a {
    background-color: #71478e;
    padding: 3% 30%;
    border-radius: 5px;
    text-decoration: none;
    color: var(--colorStandard);
}
footer p {
    font-size: var(--fontSizeMedium);
    margin-left: 2%;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* VARIAVEIS */

:root{
    --buttonColors: #ED7839;
    --headersColors: #FDF1EB;    
    --fontFamily1: 'Roboto', sans-serif;
    --fontFamily2: 'Quicksand', sans-serif;
    --fontSizeLittle: 14px;
    --fontSizeMedium: 15px;
    --fontSizeBig: 20px;
    --colorStandard: white;
    --varyFontSize: 18px;
}

/* HOVER's */

.div-aside section:hover {
    background-color: var(--background-side);
    border-width: 5px;
    border-right-width: 0px;
    border-style: solid;
    border-image: 
      linear-gradient( 
         #FFB455 0%, 
        #ED7839 100%
      ) 1 100%;
}

/* EXTRAS */

.details::-webkit-scrollbar {
    width: 3px;
}
.details::-webkit-scrollbar-track {
    background: #E7E7E7;
    border-radius: 5px;
}
.details::-webkit-scrollbar-thumb {
    background: #BFBFBF;
    border-radius: 5px;
}
.hidden {
    display: none;
}
.hiddentopic {
    display: none;
}


/* MIDIA QUERIES */
/* ficou um pouco bagunçado mas consegui fazer */
@media only screen and (max-width: 1774px) {
    .right-side {
        grid-template-columns: 41% 7% 12%;
    }
    footer {
        grid-template-columns: 27% 80%;
        height: 50%;
    }
}

@media only screen and (max-width: 1478px) {
    .right-side {
        grid-template-columns: 56% 9% 13%;
    }
}

@media only screen and (max-width: 1380px) {
    body {
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 3% 3% 85%;
        grid-template-areas: 
        'nav'
        'rightside'
        'main';
    }
    .div-aside {
        position: relative;
        display: flex;
        box-shadow: none;
    }
    .div-aside img {
        height: 100%;
    }
    nav {
        display: flex;
        align-items: center;
    }
    .div-aside nav div {
        border: none;
    }
    .div-aside section:hover {
        border: none;
    }
    .div-aside section {
        padding: 0px;
    }
    label[for="bt_menu"]{
        display: block;
    }
    .div-aside span {
        display: none;
    }
    #bt_menu:checked ~ span {
        display: block;
        background-color: var(--buttonColors);
        position: absolute;
        top: 70%;
    }
    .div-aside nav div {
        margin: 1%;
    }
}

@media only screen and (max-width: 1186px) {
    .right-side {
        justify-content: unset;
        display: block;
    }
    .info-header {
        margin-left: 0px;
    }
    body {
        display: grid;
        grid-template-rows: 3% 7% 90%;
    }
    .language, .google {
        width: 20%;
        margin-left: 50%;
    }
    .container {
        grid-template-rows: 10% 35% 15% 32% 8%;
        width: 94%;
    }
    .top-container {
        display: block;
        text-align: center;
    }
    .top {
        display: block;
    }
    .details, .summary, .discussions {
        width: 90%;
    }
    footer {
        display: block;
    }
    footer div {
        width: 28%;
        margin-bottom: 2%;
    }
    .share-ideas {
        display: block;
    }
    .createTopic-button {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 795px) {
    footer a {
        padding: 3% 10%;
    }
    .video, .summary, .discussions, .details {
        width: 60%;
        margin-left: 25%;
    }
    .images-shareideas {
        display: block;
        margin-left: 20%;
    }
    .createTopic-button {
        margin-left: 15%;
    }
}